{% extends "base.html" %}
{% block title %} {{title}} {% endblock title %}
{% block body %}

<!-- Contact Start -->
<div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
<div class="container-fluid py-5" id="contact">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Feedback</h1>
            <h1 class="position-absolute text-uppercase text-primary">Fill the form below</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form text-center">
                    <div id="success"></div>
                    {% comment %} <form name="sentMessage" id="contactForm" novalidate="novalidate" method="POST"> {% endcomment %}
                    <form method="POST" action={% url "feedback" %}>
                            {% csrf_token %}
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="name" name="name" placeholder="Full Name"
                                required="required" data-validation-required-message="Please enter a email adress" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="designation" name="designation" placeholder="Short Designation"
                                required="required" data-validation-required-message="Please enter your designation" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <h3 style="margin-top: 50px">Upload your image (just for displaying purpose)</h3>
                        <div style="margin-bottom: 50px" class="form-row d-flex justify-content-center">
                            <div class="control-group col-sm-6 text-center">
                                <input type="file" name="Pimage" class="form-control p-4 mx-auto" id="Pimage"
                                required="required" data-validation-required-message="Please upload your image"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control py-3 px-4" rows="5" id="message" name="message" placeholder="Type your experience here (max 50 words)"
                                required="required"
                                data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary" type="submit" id="sendMessageButton">Send
                                Message</button>
                        </div>
                    </form>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock body %}
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>